In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/세미2차/01_음식물쓰레기_FOOD_WASTE_210811_update.CSV', encoding='CP949')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

    base_date city    emd_cd emd_nm em_area_cd  em_cnt   em_g  pay_amt
0  2018-01-01  제주시  50110670    외도동     W6X062       2  15500      464
1  2018-01-01  제주시  50110630    아라동     W6XA97      25  59800     1787
2  2018-01-01  제주시  50110630    아라동     W6XA96       8  25350      758
3  2018-01-01  제주시  50110630    아라동     W6XA95      12  30000      898
4  2018-01-01  제주시  50110630    아라동     W6XA94      14  44050     1317

In [ ]:
df.shape

(2211445, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2211445 entries, 0 to 2211444
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   base_date   object
 1   city        object
 2   emd_cd      object
 3   emd_nm      object
 4   em_area_cd  object
 5   em_cnt      int64
 6   em_g        int64
 7   pay_amt     int64
dtypes: int64(3), object(5)
memory usage: 135.0+ MB

In [ ]:
df.isna().sum()

base_date     0
city          0
emd_cd        0
emd_nm        0
em_area_cd    0
em_cnt        0
em_g          0
pay_amt       0
dtype: int64

### 숫자 형식의 읍면동을 한글로 변환

In [ ]:
df = df[(df['em_g'] != 0) & (df['emd_nm'] != '알수없음')]
df['emd_nm']= df['emd_nm'].replace(['일도1동','일도2동', '이도1동', '이도2동', '삼도1동', '삼도2동', '용담1동', '용담2동'], ['일도일동', '일도이동', '이도일동', '이도이동', '삼도일동', '삼도이동', '용담일동', '용담이동'])

In [ ]:
# 확인하기
# df[df['emd_nm'] == '알수없음']
# df[df['city'] == '알수없음']
df[df['emd_nm'] == '일도1동']

Empty DataFrame
Columns: [base_date, city, emd_cd, emd_nm, em_area_cd, em_cnt, em_g, pay_amt]
Index: []

In [ ]:
df.to_csv("/content/drive/MyDrive/세미2차/01_음식물쓰레기_기본수정.csv", index=False, encoding='CP949')